            //   colors
$color1:black;
$hovercolor:red;
$section1colors:white;
$button:#5EB6E1;
$section3div1:#FF6C2C;
$section3div1h4:#9E9E9E;
$section4:#222224;

            // section2 div colors
$section2div1:#FF6C2C;
$section2div2:#945B9F;
$section2div3:green;




           // font sizes
$section1h3: 23px;
$section1h2: 50px;
$button-t:30px;
$section2h3:24px;
$section2button:20px;

           //   font style
$roboto:'Roboto', sans-serif;


         //     div px
